swift/swift_simulator/web/WEB-INF/wsdl/localhost_8088/ProcessService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.cbd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.cbd.com/">

<xs:element name="billInquiry" type="tns:billInquiry"/>

<xs:element name="billInquiryResponse" type="tns:billInquiryResponse"/>

<xs:element name="debetTransfer" type="tns:debetTransfer"/>

<xs:element name="debetTransferResponse" type="tns:debetTransferResponse"/>

<xs:element name="getAccount" type="tns:getAccount"/>

<xs:element name="getAccountResponse" type="tns:getAccountResponse"/>

<xs:element name="getDateRangeTransaction" type="tns:getDateRangeTransaction"/>

<xs:element name="getDateRangeTransactionResponse" type="tns:getDateRangeTransactionResponse"/>

<xs:element name="getNLastTransaction" type="tns:getNLastTransaction"/>

<xs:element name="getNLastTransactionResponse" type="tns:getNLastTransactionResponse"/>

<xs:element name="inquirySaldo" type="tns:inquirySaldo"/>

<xs:element name="inquirySaldoResponse" type="tns:inquirySaldoResponse"/>

<xs:element name="inquiryToAccount" type="tns:inquiryToAccount"/>

<xs:element name="inquiryToAccountResponse" type="tns:inquiryToAccountResponse"/>

<xs:element name="kreditTransfer" type="tns:kreditTransfer"/>

<xs:element name="kreditTransferResponse" type="tns:kreditTransferResponse"/>

<xs:element name="overbooking" type="tns:overbooking"/>

<xs:element name="overbookingResponse" type="tns:overbookingResponse"/>

<xs:element name="payment" type="tns:payment"/>

<xs:element name="paymentResponse" type="tns:paymentResponse"/>

<xs:element name="prepaidReload" type="tns:prepaidReload"/>

<xs:element name="prepaidReloadResponse" type="tns:prepaidReloadResponse"/>

<xs:complexType name="getNLastTransaction">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="nTrx" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNLastTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquiryToAccount">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="kodebank" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquiryToAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="nominal" type="xs:int"/>
<xs:element name="fee" type="xs:int"/>
<xs:element name="noref" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="idpayment" type="xs:string" minOccurs="0"/>
<xs:element name="idpelanggan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prepaidReload">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="nominal" type="xs:int"/>
<xs:element name="fee" type="xs:int"/>
<xs:element name="noref" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="idpayment" type="xs:string" minOccurs="0"/>
<xs:element name="idpelanggan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prepaidReloadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debetTransfer">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="nominal" type="xs:int"/>
<xs:element name="noref" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debetTransferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquirySaldo">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquirySaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kreditTransfer">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="nominal" type="xs:int"/>
<xs:element name="noref" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kreditTransferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="overbooking">
<xs:sequence>
<xs:element name="norekAsal" type="xs:string" minOccurs="0"/>
<xs:element name="norekTujuan" type="xs:string" minOccurs="0"/>
<xs:element name="nominal" type="xs:int"/>
<xs:element name="noref" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="overbookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="billInquiry">
<xs:sequence>
<xs:element name="paymentid" type="xs:string" minOccurs="0"/>
<xs:element name="billid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="billInquiryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccount">
<xs:sequence>
<xs:element name="cardno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDateRangeTransaction">
<xs:sequence>
<xs:element name="norek" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDateRangeTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>